@media (min-width: 360px) {
  .mg-t {
    margin-top: 10em;
  }
}

@media (min-width: 576px) {
  .mg-t {
    margin-top: 10em;
  }
}

@media (min-width: 768px) {
  .mg-t {
    margin-top: 5em;
  }
}
