.cart-no {
  position: absolute;
  top: -12px;
  right: 32px;
  background-color: rgba(6, 6, 100, 0.877);
  color: white;
  border-radius: 50%;
  min-height: 25px;
  min-width: 25px;
  text-align: center;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: orange;
  }
}
